#carousal {
	height: 480px;
	min-width: 100%;
	background: #FAFAFA;
	overflow: hidden;
	position: relative;

	#carousal-inner {
		width: 1600px;
	}

	.carousal-sect {
		position: absolute;
		background: linear-gradient(rgba($acm-black, 0.8), rgba($acm-black, 1.0));
		width: 1600px;
		top: 0;

		div {
			width: 360px;
			height: 240px;
			opacity: 0.7;
			background-size: cover;
			display: inline-block;
			vertical-align: top;
			margin: 0;
			padding: 0;
			transition: 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98);

			&:hover { opacity: 1.0; }
		}
	}
}