.ea-content-container * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.ea-content-container {
  width: 75%;
  margin: auto;
}

.ea-content-container a {
  color: #1E6CFF;
  text-decoration: none;
}

.ea-content-container a:visited {
  color: #1E6CFF;
}

.ea-content-container a:hover {
  opacity: 0.7;
}

.ea-search-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#ea-ce-parent {
  //width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#ea-event-name-filter {
  width: 35%;
  height: 20px;
  border-radius: 7px;
  border-width: 1px;
  border-color: black;
  font-family: 'Poppins'
}

@media (max-width: 600px) {
	.ea-content-container {
		width: 100%;
	}
}
