.wa-container * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.wa-container {
  width: 50%;
  margin: auto;
}

.wa-container a {
  color: #1E6CFF;
  text-decoration: none;
}

.wa-container a:visited {
  color: #1E6CFF;
}

.wa-container a:hover {
  opacity: 0.7;
}

.search-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#wa-ce-parent {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.ce-container {
  width: 100%;
  border-radius: 20px;
  background: #eeeeee;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.ce-container:first-of-type {
  margin-top: 20px;
}

.ce-container:last-of-type {
  margin-bottom: 20px;
}

.ce-title-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.ce-title-container-first {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.ce-title {
  margin-right: 5px;
  font-family: 'Poppins';
}

.ce-session {
  border-radius: 7px;
  margin-right: 5px;
  padding: 3px;
  background-color: #dddddd;
}

.ce-committee-name {
  border-radius: 7px;
  margin-right: 10px;
  padding: 3px;
  font-family: 'Poppins';
  color: white;
}

.ce-title-header-hr {
  margin: 0px 0px 10px 0px;
  color: black;
  background-color: black;
  border-style: solid;
}

.ce-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ce-date, .ce-quarter, .ce-event-type, .ce-teachers {
  background-color: #dddddd;
  border-radius: 7px;
  padding: 3px;
  margin-bottom: 10px;
}

.ce-more-info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ce-content-links-container span {
  margin-bottom: 0px;
}

.tags-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.event-tag {
  background-color: #dddddd;
  border-radius: 7px;
  margin: 0px 2.5px 0px 2.5px;
  padding: 3px;
}

.event-tag:first-of-type {
  margin-left: 0px;
}

.event-tag:last-of-type {
  margin-right: 0px;
}

.links-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.custom-link {
  background-color: #dddddd;
  border-radius: 7px;
  margin: 5px 2.5px 5px 2.5px;
  padding: 3px;
}

.custom-link:first-of-type {
  margin-left: 0px;
}

.custom-link:last-of-type {
  margin-right: 0px;
}

#event-name-filter {
  width: 35%;
  height: 20px;
  border-radius: 7px;
  border-width: 1px;
  border-color: black;
  font-family: 'Poppins'
}

@media (max-width: 600px) {
	.wa-container {
		width: 100%;
	}
}