#mediatiles {
    /*width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;*/

    .media {

        &:hover {
            cursor: pointer;
            transform: scale(1.08);
        }

        h2 {
            /*margin: 25px 10px;
            height: 70px;
            width: 70px;
            display: inline-block;*/
        }

        p{

        }

        .speaker {
            /*display: inline-block;
            vertical-align: top;
            width: 180px;*/

            p {
                /*display: inline-block;
                font-family: $font-body;
                margin: 0px 0px;
                margin-top: -5px;
                font-size: 0.7em;
                vertical-align: top;*/
            }
        }
    }
}
