#mediatiles {

    a {
        text-decoration: none;

        .media {
            border-radius: 20px;
            //padding: 20px;
            width: 750px;
            height: 275px;
            background-size: 750px;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 20px;
            opacity: .8;
            box-shadow: 5px 5px navy;
            /*img {
                height: 40px;
                position: relative;
                bottom: 20px;
            }*/
            &:hover {
                cursor: pointer;
                transform: scale(1.01);
            }

            h2 {
                /*margin: 25px 10px;
                height: 70px;
                width: 70px;
                display: inline-block;*/
                color: white;
                text-shadow: 2px 2px 5px #000000;
            }

            p {
                text-decoration: none;
                position: center;
                color: white;
                //font-style: italic;
                line-height: 25px;
                text-align: center;
                vertical-align: middle;
                text-shadow: 1px 1px black, 1px 1px black, 1px 1px black, 1px 1px black;
                font-size: 14px;
            }

            .speaker {
                /*display: inline-block;
                vertical-align: top;
                width: 180px;*/
                p {
                    color: white;
                    text-align: right;
                    //font-style: italic;
                    /*display: inline-block;
                    font-family: $font-body;
                    margin: 0px 0px;
                    margin-top: -5px;
                    font-size: 0.7em;
                    vertical-align: top;*/
                }
            }
        }
    }
}
