#mediatiles {

    a {
        text-decoration: none;

        .media {

            border-radius: 25px;
            //padding: 20px;
            width: 750px;
            //height: 100px;

            &:hover {
                cursor: pointer;
                transform: scale(1.08);
            }

            h2 {
                /*margin: 25px 10px;
                height: 70px;
                width: 70px;
                display: inline-block;*/
            }

            p {
                text-decoration: none;
                color: white;
                font-style: italic;
            }

            .speaker {
                /*display: inline-block;
                vertical-align: top;
                width: 180px;*/
                p {
                    color: white;
                    text-align: right;
                    font-style: italic;
                    /*display: inline-block;
                    font-family: $font-body;
                    margin: 0px 0px;
                    margin-top: -5px;
                    font-size: 0.7em;
                    vertical-align: top;*/
                }
            }
        }
    }
}
