# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
yarn.lock

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode

# next.js
/.next/
/out/
*.pem
# debug
# local env files
# vercel
.vercel

# script remnants
*.csv

#Generated Data
/data/newsoutput.json
/data/output.json
/data/alumoutput.json
/data/alumyears.json
/data/officeroutput.json
/data/townhall.json
/data/past-townhall.json
/data/gmData.json
/data/past-gm.json
/data/historyEvents.json

# Local Netlify folder
.netlify
