button {
	height: 40px;
	min-width: 240px;
	padding: 0px 20px;
	font-size: 0.85em;
	font-family: $font-body;
	color: white;
	border: none;
	border-radius: 12px;
	line-height: 40px;
	background-color: $acm-cobalt;
	display: inline-block;
	transition: 0.2s;

	&:hover {
		cursor: pointer;
		background-color: $acm-black;
		// margin-top: 1px;
	}

	&:active {
		margin-top: 2px;
		background-color: $acm-black;
	}
}

button.tight {
	min-width: 0px;
	width: auto;
}

button.fade-light {
	&:active {
		background: white;
		color: $acm-black;
	}
}

button.dark {
	background-color: $acm-black;

	&:hover {
		background: $acm-tint;
	}

	&:active {
		background: white;
		color: $acm-black;
	}
}