.sidebar-item {
  background: none;
  display: inline-flex;
  flex-flow: column nowrap;
  left: 0;
  margin-top: 40px;
  padding: 1rem;
  position: fixed;
  top: 52%;
  transform: translateY(-50%);
  transition: opacity 3s ease;
  z-index: 1000;

  .committee {
    align-items: center;
    color: $font-primary-color;
    display: inline-block;
    height: 63px;
    position: relative;
    text-align: left;
    transition: transform 0.1s;
    width: 200px;

    &:hover {
      cursor: pointer;
      transform: scale(1.08);
    }

    img {
      display: inline-block;
      height: 2.5vw;
      margin: 25px 10px;
      width: vw;
    }
  }
}

.committee-mobile-nav li {
  background: blue !important;
  display: flex !important;
  flex-direction: column !important;

  font-size: 12px !important;

}

*:target {
  margin-top: -70px;
  padding-top: 70px;
}

.committee-mobile-nav {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap !important;
  height: 100px !important;
}

@media screen and (max-width: $navbar-breakpoint) {
  .sidebar-item {
    display: none;
  }
}

