/*.sidebar {
	position: fixed;
    background: none;
    left: 0;
    top: 52%;
    transition: opacity 3s ease;
    z-index: 1000;
    padding: 1rem;
    transform: translateY(-50%);
    display: flex;
    flex-flow: column nowrap;

	.committee {
		width: 200px;
		height: 63px;
		display: inline-block;
		color: $font-primary-color;
		text-align: left;
		transition: transform 0.1s;
		position: relative;

		&:hover {
			cursor: pointer;
			transform: scale(1.08);
		}

		img {
			margin: 25px 10px;
			height: 50px;
			display: inline-block;
		}
	}
}*/
.committee-choices {
	position: fixed;
	width: 50px;
	color: red;
}

.dropdown {
	width: 50px
}