@use '../../variables.scss';

.timeline {
  background-color: #CCC;
  height: 4px;
  margin: 50px 60px 125px;
}

.timeline-progress {
  background-color: variables.$acm-cobalt;
  height: 100%;
  width: 0;
}

.timeline-items {
  display: flex;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -12px;
}

.timeline-item {
  position: relative;
}

// creates the dot on the progress bar
// has no content and a 100% radius - is fit into a box of 20px by 20px
.timeline-item::before {
  background-color: #CCC;
  border-radius: 100%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}

.timeline-content {
  background-color: #DDD;
  border-radius: 5px;
  left: 50%;
  padding: 5px 10px;
  position: absolute;
  text-align: center;
  top: 30px;
  transform: translateX(-50%);
  width: 100px;
}

// creates the triangle above individual timeline elements
// makes a small box and rotates it 45 degrees so it shows up as a triangle
.timeline-content::before {
  background-color: #DDD;
  content: '';
  display: block;
  height: 10px;
  left: 50%;
  margin-left: -2px;
  position: absolute;
  top: -8px;
  transform: rotate(-45deg) translateX(-50%);
  width: 10px;
}

.timeline-item.active::before {
  background-color: variables.$acm-cobalt;
}

.timeline-item.active .timeline-content {
  background-color: variables.$acm-cobalt;
  color: #FFF;
}

.timeline-item.active .timeline-content::before {
  background-color: variables.$acm-cobalt;
}
