.next-steps-card-inner {
  background-color: #FFF;
  border-radius: 1rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 100%;
  
  &.is-flipped {
    transform: rotateY(180deg);
  }
}

.committee-card {
  height: 201px;
  margin: auto;
  margin-bottom: 20px;
  max-width: 197px;
  padding: 0;
  perspective: 1000px;
}
  
.next-steps-card-face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #FFF;
  height: 100%;
  position: absolute;
  width: 100%;
  
  &.back {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    transform: rotateY(180deg);
  }
}
  
