.committee-banner-container {

	h1 {
		margin: 10px 0 ;
		font-size: 2.5em;
	}

	img {
		box-shadow: none;
	}

    @media (min-width: 688px) {
		margin-top: -20px;
		min-height: 500px;
		
		p {
			font-size: 1em;
		}
	}
}