.committee-banner-container {
  h1 {
    font-size: 2.5em;
    margin: 10px 0;
  }

  img {
    box-shadow: none;
  }

  @media (min-width: 688px) {
    margin-top: -20px;
    min-height: 500px;
		
    p {
      font-size: 1em;
    }
  }
}
