@import "../variables.scss";

.ornament {
  position: absolute;
  right: 30px;
  top: 70px;
}

.squareOrnament {
  background: $acm-tint;
  border-radius: 40px;
  height: 200px;
  transform: rotate(45deg);
  width: 200px;
}

.imageOrnament {
  max-width: 270px;
  top: 40px;
  width: 100%;

  img {
    width: 100%;
  }
}

.ornament-left {
  left: -70px;
}

.imageOrnamentLeft {
  left: 60px;
}

.imageOrnamentRight {
  right: 20px;
}

.squareSplash {
  border-radius: 50px;
  height: 250px;
  left: 30px;
  position: absolute;
  top: -65px;
  width: 250px;
}

.squareSmall {
  background-color: $acm-cobalt;
  border-radius: 10px;
  height: 50px;
  position: absolute;
  right: -110px;
  top: 0;
  width: 50px;
}

.squareTiny {
  background-color: $acm-cobalt;
  border-radius: 4px; //Roudning up from 3.6px
  height: 18px;
  position: absolute;
  right: -105px;
  top: -25px;
  width: 18px;
}

.aboutPage .contentSection {
  max-width: 800px;
  padding: 0 20px;
  position: relative;
  margin: 20px auto 40px;

  .textSection {
    display: inline-block;
    max-width: 56%;
    text-align: left;
  }

  h1 {
    font-size: 2em;
    margin: 0;
    padding: 20px;
    line-height: 110%;
    text-align: left;
  }

  p {
    font-size: 0.8em;
    line-height: 150%;
    margin: 0 22px 14px;
  }
}

.leadership{
  margin-bottom: 0 !important; //overrides contentSection
}

.socialMedia{
  display: flex;
  justify-content: center; 
}

@media (max-width: 600px) {
  .squareOrnament {
    display: block;

    left: -70px;
    margin: 0 auto 150px;
    position: relative;
    right: 0;
  }

  .imageOrnament {
    display: block;
    left: 0;
    margin: 0 auto 80px;
    position: relative;
  }

  .aboutPage .contentSection {
    .textSection {
      display: inline-block;
      max-width: 100%;
      text-align: left;
    }

    h1 {
      text-align: center;
    }
  }
}
