@use '../variables.scss';

.ornament {
  position: absolute;
  right: 30px;
  top: 70px;
}

.square-ornament {
  background: variables.$acm-tint;
  border-radius: 40px;
  height: 200px;
  transform: rotate(45deg);
  width: 200px;
}

.image-ornament {
  max-width: 270px;
  top: 40px;
  width: 100%;

  img {
    width: 100%;
  }
}

.ornament-left {
  left: -70px;
}

.image-ornament-left {
  left: 60px;
}

.image-ornament-right {
  right: 20px;
}

.square-splash {
  border-radius: 50px;
  height: 250px;
  left: 30px;
  position: absolute;
  top: -65px;
  width: 250px;
}

.square-small {
  background-color: variables.$acm-cobalt;
  border-radius: 10px;
  height: 50px;
  position: absolute;
  right: -110px;
  top: 0;
  width: 50px;
}

.square-tiny {
  background-color: variables.$acm-cobalt;
  border-radius: 4px; //Roudning up from 3.6px
  height: 18px;
  position: absolute;
  right: -105px;
  top: -25px;
  width: 18px;
}

.about-page .content-section {
  margin: 20px auto 40px;
  max-width: 800px;
  padding: 0 20px;
  position: relative;

  .text-section {
    display: inline-block;
    max-width: 56%;
    text-align: left;
  }

  h1 {
    font-size: 2em;
    line-height: 110%;
    margin: 0;
    padding: 20px;
    text-align: left;
  }

  p {
    font-size: 0.95em;
    line-height: 150%;
    margin: 0 22px 14px;
  }
}

.leadership {
  margin-bottom: 0 !important; //overrides content-section
}

.social-media {
  display: flex;
  justify-content: center;
}

@media (max-width: variables.$navbar-breakpoint) {
  .square-ornament {
    display: block;

    left: -70px;
    margin: 0 auto 150px;
    position: relative;
    right: 0;
  }

  .image-ornament {
    display: block;
    left: 0;
    margin: 0 auto 80px;
    position: relative;
  }

  .about-page .content-section {
    .text-section {
      display: inline-block;
      max-width: 100%;
      text-align: left;
    }

    h1 {
      text-align: center;
    }
  }
}
