.committees-page-content {
  box-sizing: border-box;
  margin: auto;
  max-width: 900px;
  padding: 0 30px;
  width: 100%;

  h1 {
    font-size: 2em;
    margin: 10px 0;
  }

  h2 {
    font-size: 1.2em;
    margin: 0;
  }

  p {
    font-family: $font-body;
    font-size: 1em;
    line-height: 150%;

    &.subheading {
      font-size: 1em;
    }

    strong {
      font-weight: bold;
    }
  }

  img {
    border-radius: 10px;
    box-shadow: 0 0 1pt 0;
    width: 100%;
  }

  @media (min-width: 688px) {
    padding: 0 60px;
  }
}

.body-wrapper {
  margin: 50px 0 40px;

  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.image-wrapper {
  border-radius: 10px;
  box-shadow: 0 0 1pt 0;

  // this is kind of gnarly, but the !important override is needed to overwrite the CSS built into /next/image
  // the div is to change display from inline-block to block so there's no weird spacing between border and image
  // the img is to overwrite the default image shadow from committees.scss to prevent double borders
  // img should be removable once fully converting to /next/image - the one in committees.scss needs to stay for the non next imgs for now
  div {
    display: block !important;
  }

  img {
    box-shadow: none !important;
  }  
}

.committee-banner-container {
  @media (min-width: 688px) {
    margin-top: -20px;
    min-height: 500px;

    p {
      font-size: 1em;
    }
  }
}

// this is for fixing location hashes scroll bug

html {
  scroll-padding-top: 75px;
}


.officers-page-content {
  box-sizing: border-box;
  margin: auto 320px;
  max-width: 1100px;
  // border: 1px solid black;
  padding: 0 30px;
  width: 100%;

  @media (max-width: 767px) {
    box-sizing: border-box;
    margin: auto;
    max-width: 900px;
    padding: 0 30px;
    width: 100%;
  }

  h1 {
    font-size: 2em;
    margin: 10px 0;
  }

  h2 {
    font-size: 1.2em;
    margin: 0;
  }

  p {
    font-family: $font-body;
    font-size: 1em;
    line-height: 150%;

    &.subheading {
      font-size: 1em;
    }

    strong {
      font-weight: bold;
    }
    
    
  }

 

  .officer-image {
    border-radius: 50%; /* Make the image completely round */
    height: 100%;
    padding: 10px; /* Add padding around the image */
    width: 100%;
  }

  // img{
    
  // }

  .committeebanner {
    border-radius: 10px;
    // box-shadow: 0 0 1pt 0;
    width: 50%;
    // display: block;
    // margin: auto;
  }

  @media (min-width: 688px) {
    padding: 0 60px;
  }

  .bannerpic {
    border-radius: 10px;
    box-shadow: 0 0 1pt 0;
    width: 100%;
  }
}

