@import '../variables.scss';

.dev-team-info {
  font-size: 1.2em !important;
  margin: 0 0 20px !important;
  text-align: left;
}

.project-info {
  font-size: 1em !important;
}

#first-project {
  margin-top: 0;
}
