@use '../variables.scss';;

.dev-team-info {
  font-size: 1.2em !important;
  margin: 0 0 20px !important;
  text-align: left;
}

.project-info {
  font-size: 1em !important;
}

#first-project {
  margin-top: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

$navbar-breakpoint: 992px;
$tablet-breakpoint: 768px;

@media (max-width: variables.$navbar-breakpoint) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
