@import '../variables.scss';

// overrides the header for the calendar; this is
// the days of the week for a month or week view
.rbc-header {
  background-color: #445EDC;
  border: 0 !important;
  color: white;
  font-family: $font-header !important;
  font-weight: 500 !important;
  padding: 0.5em !important;
  text-transform: lowercase;
}

// overrides to round out the outer box

.rbc-month-view {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rbc-month-header {
  > .rbc-header:first-child {
    border-top-left-radius: 10px;
  }

  > .rbc-header:last-child {
    border-top-right-radius: 10px;
  }
}

// overrides an individual date cell
.rbc-date-cell,
.rbc-label {
  color: #B2B2B2;
  font-family: $font-header;
}

// overrides the label for the toolbar,
// i.e. the month
.rbc-toolbar-label {
  font-family: $font-header;
  font-size: 2rem;
  font-weight: bold;
}

// btn & btn-group overrides
.rbc-btn-group {
  background: #93A5BF;
  border-radius: 10px;

  > button {
    border: 0 !important;
    color: white !important;
    font-family: $font-header;
    font-weight: 600;
    text-transform: lowercase;

    &:hover {
      color: black !important;
      cursor: pointer;
    }

    &.rbc-active {
      background-color: #3E5DE4 !important;
      border-radius: 10px !important;
      box-shadow: 3.85962px 3.85962px 3.85962px rgba(50, 73, 181, 0.25) !important;
    }
  }
}
