@import '../variables.scss';

.events-container {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 1em;
}

.calendar-view-container {
  @media screen and (min-width: $tablet-breakpoint) {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: auto 300px;
  }
  @media screen and (max-width: $tablet-breakpoint) {
    > * {
      margin-bottom: 1rem;
    }
  }
}

.calendar-size-controller {
  height: 700px !important;
  @media screen and (min-width: $tablet-breakpoint) {
    max-width: calc(75rem - 300px - 2rem - 3em) !important;
    width: calc(100vw - 300px - 2rem - 3em) !important;
  }
}
