@import '../variables.scss';

.container {
  margin: 0 auto;
  max-width: 50rem;
}

.workshop-card {
  padding: 0 1em;
}

.workshop-image-container {
  // TODO: let's deal with this later :)
  // border: 1px solid gray;
  // border-radius: 10px;
  // filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  max-width: 300px;
}
