@import '../variables.scss';

$single-column-breakpoint: 500px;

.internship-intro {
  font-size: 1em !important;
}

.internship-intro-highlight {
  font-size: 1em !important;
  font-weight: bold;
}

.testimonial-item {
  @include shadow-boxes();
  margin: 3px;
  padding: 5px;
  padding-top: 10px;

  .testimonial-question {
    color: $acm-cobalt;
    font-size: 1.1em;
  }
}

.application-item {
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: left;

  .application-item-info {
    margin-left: 15%;
    margin-top: 5px;
  }
}

.application-info-card {
  @include shadow-boxes();
  background-color: #FFF;
  border-radius: 1rem;
  font-size: 1.3em;
  margin: auto;
  max-width: 250px;
  padding: 20px;
  padding-top: 0;
  text-align: left;
}

.application-button {
  text-align: center;
  width: 100%;
}

.next-steps-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px;
}

.testimonial-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.faq-question:hover {
  background-color: #DDD;
}

.faq {
  margin-bottom: 20px;

  .faq-item {
    border-bottom: 2px solid $acm-cobalt;
    color: $acm-black;
    padding-bottom: 15px;
    padding-top: 15px;

    .faq-question {
      font-weight: bold;
    }

    .faq-content {
      margin-top: 10px;
    }
  }
}

.faq-question::before {
  border-bottom: 2px solid $acm-cobalt;
  border-right: 2px solid $acm-cobalt;
  content: '';
  display: inline-block;
  height: 10px;
  margin-right: 12px;
  transform: rotate(-45deg);
  width: 10px;
}

.faq-question[aria-expanded='true']::before,
.faq-question[aria-selected='true']::before {
  transform: rotate(45deg);
}

@media screen and (max-width: $tablet-breakpoint) {
  .testimonial-section {
    grid-template-columns: 1fr 1fr;
  }

  .next-steps-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: $single-column-breakpoint) {
  .testimonial-section {
    grid-template-columns: 1fr;
  }

  .application-information {
    grid-template-columns: 1fr;
  }

  .application-info-card {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .next-steps-grid {
    grid-template-columns: 1fr;
  }
}
