.cd-links-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.ce-custom-link {
  background-color: #dddddd;
  border-radius: 7px;
  margin: 5px 2.5px 5px 2.5px;
  padding: 3px;
}

.ce-custom-link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.ce-custom-link:first-of-type {
  margin-left: 0px;
}

.ce-custom-link:last-of-type {
  margin-right: 0px;
}