.descriptions {
	.committee-component{
		margin: 20px auto 120px auto;

		.left {
			right: 550px;
		}

		.right {
			left: 300px;
		}

		.ornament {
			position: absolute;
		}

		.image-ornament {
			width: 100%;
			max-width: 150px;
			img {
				width: 100%;
			}
		}

		.text-section {
			margin: 60px auto;

			.info {
				text-align: left;
				max-width: 56%;
			}

			a:link{
				text-decoration: none;
			}

			p {
				text-align: left;
				max-width: 56%;
			}
		}
	}
}