.descriptions {
	padding-bottom: 50px;

	.committee-component{
		height: 200px;
		padding-bottom: 50px;

		.left {
			right: 570px;
		}

		.right {
			left: 270px;
		}

		.ornament {
			position: absolute;
		}

		.image-ornament {
			width: 100%;
			max-width: 150px;
			img {
				width: 100%;
			}
		}

		.text-section {

			.info {
				text-align: left;
				max-width: 56%;
				height: 88px;
			}

			a:link{
				text-decoration: none;
			}

			p {
				text-align: left;
				max-width: 56%;
			}
		}
	}
}