.committeessidebar {
	position: fixed;
    background: none !important;
    left: 0;
    top: 53%;
    transition: opacity 3s ease;
    z-index: 1000;
    padding: 1rem;
    transform: translateY(-50%);
    display: flex;
    flex-flow: column nowrap;
    //justify-content: space-around;

	.committee {
		width: 200px;
		height: 63px;
		display: inline-block;
		color: $font-primary-color;
		text-align: left;
		transition: transform 0.1s;
		position: relative;

		&:hover {
			cursor: pointer;
			transform: scale(1.08);
		}

		img {
			margin: 25px 10px;
			height: 50px;
			display: block;
		}
	}
}
/*
width: 100%;
	max-width: 1000px;
	padding: 0px 20px;
	box-sizing: border-box;
	margin: auto;
    text-align: center;
    */