#officers-container {
	width: 100%;
	max-width: 1000px;
	padding: 0px 20px;
	box-sizing: border-box;
	margin: auto;
	text-align: center;

	.officer {
		width: 300px;
		height: 100px;
		display: inline-block;
		color: $font-primary-color;
		text-align: left;
		transition: transform 0.1s;
		// border: 1px solid red;

		&:hover {
			// cursor: pointer;
			// transform: scale(1.08);
		}

		img {
			margin: 25px 10px 0px 10px;
			height: 70px;
			width: 70px;
			border: 2px solid #EAEAEA;
			display: inline-block;
			border-radius: 50%;
		}

		.info {
			display: inline-block;
			vertical-align: top;
			width: 200px;

			h2 {
				margin: 0px;
				padding: 0px;
				margin-top: 35px;
				font-weight: 600;
				display: inline-block;
				font-size: 1.3em;
				line-height: 1.8em;
				font-family: $font-display;

				span {
					font-weight: 700;
				}
			}

			p {
				display: inline-block;
				font-family: $font-body;
				font-color: $font-primary-color;
				margin: 0px 0px;
				margin-top: -5px;
				font-size: 0.7em;
				vertical-align: top;
			}
		}
	}
}
