@import '../../variables.scss';

.introRow {
  margin-bottom: 24px;
}

.rightCol {
  display: none;
}

.link {
  color: $acm-cobalt;
}

@media (min-width: 688px) {
  .leftCol {
    float: left;
    text-align: left;
    width: 45%;
  }

  .rightCol {
    display: block;
    float: right;
    margin-top: 30px;
    width: 50%;

    img {
      box-shadow: 0 0 1pt 0;
      max-height: auto;
    }
  }

  .introRow{
    h2 {
      font-size: 2em;
    }
  
    p {
      font-size: 1.2em;
    }
  }
  
  .showMobile {
    display: none;
  }

  .introRow::after {
    clear: both;
    content: '';
    display: table;
  }
}

.winner {
  color: $acm-cobalt;
  font-family: $font-header;
  font-size: 1.1em;
  font-weight: bold;
}

.tgTag {
  border: 1px solid $acm-cobalt;
  border-radius: 8px;
  color: $acm-cobalt;
  font-size: 0.8em;
  padding: 2px 10px;
}
