@use '../../variables.scss';

.intro-row {
  margin-bottom: 24px;
}

.right-col {
  display: none;

  img {
    box-shadow: none !important;
    max-height: auto;
  }

  div {
    display: block !important;
  }
}

.link {
  color: variables.$acm-cobalt;
}

@media (min-width: 688px) {
  .left-col {
    float: left;
    text-align: left;
    width: 45%;
  }

  .right-col {
    display: block;
    float: right;
    margin-top: 30px;
    width: 50%;
  }

  .show-mobile {
    display: none;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
  }

  .intro-row::after {
    clear: both;
    content: '';
    display: table;
  }
}

.winner {
  color: variables.$acm-cobalt;
  font-family: variables.$font-header;
  font-size: 1.1em;
  font-weight: bold;
}

.tg-tag {
  border: 1px solid variables.$acm-cobalt;
  border-radius: 8px;
  color: variables.$acm-cobalt;
  font-size: 0.8em;
  padding: 2px 10px;
}
