.square-ornament {
	height: 200px;
	width: 200px;
	position: absolute;
	border-radius: 20px;
	background: $acm-tint;
	right: 30px;
	top: 70px;
	transform: rotate(45deg);
}

.square-ornament.ornament-left {
	left: -70px;
}

.square-splash {
	position: absolute;
	height: 250px;
	width: 250px;
	left: 30px;
	top: -65px;
	border-radius: 25px;
	background-image: url(/images/square1.jpg);
	background-size: cover;
	background-color: $acm-cobalt;
}

.square-small {
	position: absolute;
	height: 50px;
	width: 50px;
	right: -110px;
	top: 0px;
	border-radius: 5px;
	background-color: $acm-cobalt;
}

.square-tiny {
	position: absolute;
	height: 18px;
	width: 18px;
	right: -105px;
	top: -25px;
	border-radius: 2px;
	background-color: $acm-cobalt;
}

.about-page .content-section {
	margin: 20px auto 40px auto;

	.text-section {
		display: inline-block;
		text-align: left;
		max-width: 56%;
	}

	h1 {
		text-align: left;
	}
}

@media (max-width: 600px) {
	.square-ornament {
		position: relative;
		display: block;
		margin: 0px auto 150px auto;

		left: -70px;
		right: 0px;
	}

	.about-page .content-section {
		.text-section {
			display: inline-block;
			text-align: left;
			max-width: 100%;
		}

		h1 {
			text-align: center;
		}
	}
}