@use '../variables.scss';

.banner {
  height: 360px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &.decorative {
    height: 150px;
    margin-top: -20px;
  }

  .square-col-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    margin-left: -25%;
    overflow: hidden;
    width: 150%;
  }

  .square-col {
    height: 100%;
    margin: -20px 10px;
    padding: 0 5px;
    transform: rotate(45deg);
    width: 50px;
  }

  .square {
    background-color: variables.$acm-cobalt;
    border-radius: 14px;
    height: 50px;
    margin-bottom: 6px;
    transition: background 2.5s ease-in-out;
    width: 50px;
  }

  .square.dark {
    background-color: variables.$acm-black;
  }

  .square.light {
    background-color: variables.$acm-tint;
  }

  .square.white {
    background-color: white !important;
  }

  &.hack .square {
    background-color: variables.$hack-purple;
  }

  &.hack .square.dark {
    background-color: variables.$hack-black;
  }

  &.hack .square.light {
    background-color: variables.$hack-tint;
  }

  &.ai .square {
    background-color: variables.$ai-arctic;
  }

  &.ai .square.dark {
    background-color: variables.$ai-black;
  }

  &.ai .square.light {
    background-color: variables.$ai-tint;
  }

  &.w .square {
    background-color: variables.$w-teal;
  }

  &.w .square.dark {
    background-color: variables.$w-black;
  }

  &.w .square.light {
    background-color: variables.$w-tint;
  }

  &.cyber .square {
    background-color: variables.$cyber-amber;
  }

  &.cyber .square.dark {
    background-color: variables.$cyber-black;
  }

  &.cyber .square.light {
    background-color: variables.$cyber-tint;
  }

  &.studio .square {
    background-color: variables.$studio-raspberry;
  }

  &.studio .square.dark {
    background-color: variables.$studio-black;
  }

  &.studio .square.light {
    background-color: variables.$studio-tint;
  }

  &.icpc .square {
    background-color: variables.$icpc-tangerine;
  }

  &.icpc .square.dark {
    background-color: variables.$icpc-black;
  }

  &.icpc .square.light {
    background-color: variables.$icpc-tint;
  }

  &.design .square {
    background-color: variables.$design-orange;
  }

  &.design .square.dark {
    background-color: variables.$design-black;
  }

  &.design .square.light {
    background-color: variables.$design-tint;
  }

  &.teachla .square {
    background-color: variables.$teachla-green;
  }

  &.teachla .square.dark {
    background-color: variables.$teachla-black;
  }

  &.teachla .square.light {
    background-color: variables.$teachla-tint;
  }

  &.cloud .square {
    background-color: variables.$cloud-purple;
  }

  &.cloud .square.dark {
    background-color: variables.$cloud-black;
  }

  &.cloud .square.light {
    background-color: variables.$cloud-tint;
  }

  .title {
    height: 280px;
    left: 0;
    line-height: 280px;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100%;

    h1 {
      color: variables.$acm-cobalt;
      font-family: variables.$font-display;
      font-size: 2.3em;
      font-weight: bold;
      margin: 0;
      padding: 0;
      transition: color 2.5s ease-in-out;
    }
  }

  &.hack .title h1 {
    color: variables.$hack-purple;
  }

  &.ai .title h1 {
    color: variables.$ai-arctic;
  }

  &.w .title h1 {
    color: variables.$w-teal;
  }

  &.cyber .title h1 {
    color: variables.$cyber-amber;
  }

  &.studio .title h1 {
    color: variables.$studio-raspberry;
  }

  &.icpc .title h1 {
    color: variables.$icpc-tangerine;
  }

  &.design .title h1 {
    color: variables.$design-orange;
  }

  &.teachla .title h1 {
    color: variables.$teachla-green;
  }

  &.cloud .title h1 {
    color: variables.$cloud-purple;
  }
}
