.button {
  background-color: $acm-cobalt;
  border: 0;
  border-radius: 11.2px;
  color: white;
  display: inline-block;
  font-family: $font-body;
  font-size: 0.85em;
  height: 40px;
  line-height: 40px;
  min-width: 240px;
  padding: 0 20px;
  text-decoration: none;
  transition: 0.2s;

  &:hover {
    background-color: $acm-black;
    cursor: pointer;
    // margin-top: 1px;
  }

  &:active {
    background-color: $acm-black;
    margin-top: 2px;
  }
}

.button.tight {
  min-width: 0;
  width: auto;
}

.button.fade-light {
  &:active {
    background: white;
    color: $acm-black;
  }
}

.button.dark {
  background-color: $acm-black;

  &:hover {
    background: $acm-tint;
  }

  &:active {
    background: white;
    color: $acm-black;
  }
}
