@use '../variables.scss';

.committees {
  box-sizing: border-box;
  margin: auto;
  max-width: 1000px;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  .committee {
    color: variables.$font-primary-color;
    display: inline-block;
    height: 120px;
    position: relative;
    text-align: left;
    transition: transform 0.1s;
    width: 300px;

    &:hover {
      cursor: pointer;
      transform: scale(1.08);
    }

    img {
      display: block;
      height: 50px;
      margin: 25px 10px;
    }

    .info {
      display: inline-block;
      vertical-align: top;
      width: 180px;

      h2 {
        display: inline-block;
        font-family: variables.$font-display;
        font-size: 1.5em;
        font-weight: 500;
        line-height: 1.5em;
        margin: 0;
        margin-top: 35px;
        padding: 0;

        span {
          font-weight: 700;
        }
      }

      p {
        display: inline-block;
        font-family: variables.$font-body;
        font-size: 0.8em;
        left: 72px;
        margin: 0;
        margin-top: -5px;
        position: absolute;
        top: 75px;
        vertical-align: top;
      }
    }

    &.hack .info h2 {
      color: variables.$hack-purple;
    }

    &.ai .info h2 {
      color: variables.$ai-arctic;
    }

    &.w .info h2 {
      color: variables.$w-teal;
    }

    &.cyber .info h2 {
      color: variables.$cyber-amber;
    }

    &.studio .info h2 {
      color: variables.$studio-raspberry;
    }

    &.icpc .info h2 {
      color: variables.$icpc-tangerine;
    }

    &.design .info h2 {
      color: variables.$design-orange;
    }

    &.teachla .info h2 {
      color: variables.$teachla-green;
    }
  }
}
