#footer {
  background-color: $acm-black;
  box-sizing: border-box;
  flex-shrink: 0;
  min-height: 120px;
  padding: 10px;
  width: 100%;

  #footer-inner {
    box-sizing: border-box;
    margin: auto;
    max-width: 1000px;
    padding: 0 20px;
  }

  #footer-items {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: center;
    width: 100%;
  }

  #netlify-badge {
    margin-top: 10px;
    text-align: center;
    width: 100%;

    img {
      width: 100px;
    }
  }

  .footer-item {
    text-align: center;
    width: 32%;

    h2 {
      color: white;
      font-family: $font-body;
      font-size: 0.65em;
      margin: 0;
      padding: 15px 0 10px;
      text-transform: uppercase;
    }
  }

  .email {
    text-decoration-color: $acm-tint;
  }

  #footer-bottom {
    line-height: 40px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }

  span.footer-text {
    color: white;
    font-size: 1em;
    font-weight: 300;
    line-height: 30px;
  }

  @media (max-width: $navbar-breakpoint) {
    #footer-items {
      flex-direction: column;
      height: auto;
      justify-content: top;
    }

    .footer-item {
      width: 100%;

      h2 {
        padding: 20px 0 10px;
      }
    }

    span {
      line-height: 20px;
    }
  }
}
