@import '../variables.scss';

#gmPage {
  #timeToGmWrapper {
    #timeToGmHeadline {
      font-size: 3em;
      text-align: center;
    }

    #countdownWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: -125px;
      width: 75%;

      .countdownCards {
        color: white;
        margin: 40px;

        .squareBackground {
          background-color: $acm-cobalt;
          border-radius: 42px;
          height: 150px;
          position: relative;
          top: 140px;
          transform: rotate(45deg);
          width: 150px;
          z-index: -1;
        }

        .countdownNumbers {
          font-size: 3.75em;
          font-weight: bold;
          text-align: center;
          z-index: 3;
        }

        .countdownLabels {
          font-size: 1.5em;
          text-align: center;
        }
      }
    }

    h3#gmZoomRelease {
      margin: auto;
      margin-top: 25px;
      text-align: center;
      width: 75%;
    }

    p#cantWait,
    p#postedToYoutube {
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      text-align: center;
      width: 90%;
    }

    #gmGraphic {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      width: 85vw;
    }

    @media (max-width: 915px) {
      .countdownCards { height: 175px; }
      #countdownWrapper { margin-bottom: 125px;}
    }
  }

  #gmNowWrapper {
    #timeToGmHeadlineNow {
      font-size: 3em;
      text-align: center;
    }

    #gmMainContent {
      margin: auto;
      width: 75%;

      #joinLinksWrapper {
        display: flex;
        justify-content: space-around;
        margin-bottom: 25px;
        padding-bottom: 50px;

        .clickToJoin {
          width: 350px;

          .joinLinks {
            border-radius: 15px;

            .joinLinksImg {
              display: block;
              height: auto;
              margin: auto;
            }
          }

          #zoomJoinLinkWrapper {
            background-color: gainsboro;
            padding-bottom: 15px;
            padding-top: 15px;

            .joinLinksImg {
              width: 200px;
            }
          }

          #discordJoinLinkWrapper {
            background-color: #7289DA;
            padding-bottom: 1px;
            padding-top: 5px;

            .joinLinksImg {
              width: 200px;
            }
          }
        }

        .shouldDim:hover {
          cursor: pointer;
          opacity: 0.75;
        }

        .shouldDim a {
          color: $font-primary-color;
          text-decoration: none;
        }

        p.joinUs {
          margin-bottom: 0;
          text-align: center;
        }

        p.joinUsDescriptor {
          color: $font-secondary-color;
          font-size: 10pt;
          margin-top: 5px;
          text-align: center;
        }
      }

      #videoWrapper {
        margin-bottom: 20px;

        iframe {
          display: block;
          height: 500px;
          margin: auto;
          width: 100%;
        }
      }

      #gmProgramWrapper {
        border-top: 1px dotted $acm-black;

        .row {
          display: flex;
          margin-bottom: 25px;
          margin-top: 25px;

          .timestamps {
            margin: 0;
            min-width: 125px;
            padding-top: 3px;
            white-space: nowrap;
          }

          .rowDescriptionWrapper {
            margin-left: 350px;

            h3.rowDescriptionHeading {
              color: $acm-cobalt;
              margin: 0;
            }

            p.rowDescriptionSubheading {
              color: $acm-tint;
              margin-top: 4px;

              a#acmDiscordInviteCta {
                color: inherit;
              }
            }
            .board { color: $acm-cobalt; }
            #studio { color: $studio-raspberry; }
            #icpc { color: $icpc-tangerine; }
            #design { color: $design-orange; }
            #cyber { color: $cyber-amber; }
            #teach { color: $teachla-green; }
            #w { color: $w-teal; }
            #ai { color: $ai-arctic; }
            #hack { color: $hack-purple; }

            .committeeLogos {
              height: 20px;
              margin-bottom: 2px;
              margin-right: 5px;
              vertical-align: text-bottom;
              width: 20px;
            }
          }
        }
      }
    }
    @media (max-width: 915px) {
      .rowDescriptionWrapper { margin-left: 15px !important;}

      #joinLinksWrapper {
        align-items: center;
        flex-direction: column;
        width: 100%;

        .clickToJoin {
          max-width: 300px;
          min-width: 200px;
          #zoomJoinLinkWrapper {margin-right: 5px;}
          #discordJoinLinkWrapper {margin-left: 5px;}
        }
      }
    }
  }
}
