#countdown-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
  padding: 2rem 0;

  .countdown-cards {
    color: white;
    margin: 20px 40px;

    .square-background {
      background-color: $acm-cobalt;
      border-radius: 42px;
      height: 150px;
      position: relative;
      top: 140px;
      transform: rotate(45deg);
      width: 150px;
      z-index: -1;
    }

    .countdown-numbers {
      font-size: 3.75em;
      font-weight: bold;
      text-align: center;
      z-index: 3;
    }

    .countdown-labels {
      font-size: 1.5em;
      text-align: center;
    }
  }
}

// Grandfathered styling
#gm-page {
  #time-to-gm-wrapper {
    #time-to-gm-headline {
      font-size: 3em;
      text-align: center;
    }

    #countdown-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: -125px;
      width: 75%;

      .countdown-cards {
        color: white;
        margin: 40px;

        .square-background {
          background-color: $acm-cobalt;
          border-radius: 42px;
          height: 150px;
          position: relative;
          top: 140px;
          transform: rotate(45deg);
          width: 150px;
          z-index: -1;
        }

        .countdown-numbers {
          font-size: 3.75em;
          font-weight: bold;
          text-align: center;
          z-index: 3;
        }

        .countdown-labels {
          font-size: 1.5em;
          text-align: center;
        }
      }
    }

    h3#gm-zoom-release {
      margin: auto;
      margin-top: 25px;
      text-align: center;
      width: 75%;
    }

    p#cant-wait,
    p#posted-to-youtube {
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      text-align: center;
      width: 90%;
    }

    #gm-graphic {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      width: 85vw;
    }

    @media (max-width: 915px) {
      .countdown-cards { height: 175px; }
      #countdown-wrapper { margin-bottom: 125px;}
    }
  }

  #gm-now-wrapper {
    #time-to-gm-headline-now {
      font-size: 3em;
      text-align: center;
    }

    #gm-main-content {
      margin: auto;
      width: 75%;

      #join-links-wrapper {
        display: flex;
        justify-content: space-around;
        margin-bottom: 25px;
        padding-bottom: 50px;

        .click-to-join {
          width: 350px;

          .join-links {
            border-radius: 15px;

            .join-links-img {
              display: block;
              height: auto;
              margin: auto;
            }
          }

          #zoom-join-link-wrapper {
            background-color: gainsboro;
            padding-bottom: 15px;
            padding-top: 15px;

            .join-links-img {
              width: 200px;
            }
          }

          #discord-join-link-wrapper {
            background-color: #7289DA;
            padding-bottom: 1px;
            padding-top: 5px;

            .join-links-img {
              width: 200px;
            }
          }
        }

        .should-dim:hover {
          cursor: pointer;
          opacity: 0.75;
        }

        .should-dim a {
          color: $font-primary-color;
          text-decoration: none;
        }

        p.join-us {
          margin-bottom: 0;
          text-align: center;
        }

        p.join-us-descriptor {
          color: $font-secondary-color;
          font-size: 10pt;
          margin-top: 5px;
          text-align: center;
        }
      }

      #video-wrapper {
        margin-bottom: 20px;

        iframe {
          display: block;
          height: 500px;
          margin: auto;
          width: 100%;
        }
      }

      #gm-program-wrapper {
        border-top: 1px dotted $acm-black;

        .row {
          display: flex;
          margin-bottom: 25px;
          margin-top: 25px;

          .timestamps {
            margin: 0;
            min-width: 125px;
            padding-top: 3px;
            white-space: nowrap;
          }

          .row-description-wrapper {
            margin-left: 350px;

            h3.row-description-heading {
              color: $acm-cobalt;
              margin: 0;
            }

            p.row-description-subheading {
              color: $acm-tint;
              margin-top: 4px;

              a#acm-discord-invite-cta {
                color: inherit;
              }
            }
            .board { color: $acm-cobalt; }
            #studio { color: $studio-raspberry; }
            #icpc { color: $icpc-tangerine; }
            #design { color: $design-orange; }
            #cyber { color: $cyber-amber; }
            #teach { color: $teachla-green; }
            #w { color: $w-teal; }
            #ai { color: $ai-arctic; }
            #hack { color: $hack-purple; }

            .committee-logos {
              height: 20px;
              margin-bottom: 2px;
              margin-right: 5px;
              vertical-align: text-bottom;
              width: 20px;
            }
          }
        }
      }
    }
    @media (max-width: 915px) {
      .row-description-wrapper { margin-left: 15px !important;}

      #join-links-wrapper {
        align-items: center;
        flex-direction: column;
        width: 100%;

        .click-to-join {
          max-width: 300px;
          min-width: 200px;
          #zoom-join-link-wrapper {margin-right: 5px;}
          #discord-join-link-wrapper {margin-left: 5px;}
        }
      }
    }
  }
}

.gm-graphic {
  margin-top: -35px;
  border: "1px solid grey";
  border-radius: 10px;
}

.gm-program-row {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 5px;
  img {
    height: 45px;
  }
}

.section-header {
  text-align: left;
  h3 {
    margin: 0;
    color: $acm-cobalt
  }
  h4 {
    margin: 0;
    color: $font-secondary-color
  }
}

.gm-program-section {
  margin-bottom: 25px;
}

.click-to-join {
  width: 350px;

  .join-links {
    border-radius: 15px;

    .join-links-img {
      display: block;
      height: auto;
      margin: auto;
    }
  }
}

.should-dim:hover {
  cursor: pointer;
  opacity: 0.75;
}

.should-dim a {
  color: $font-primary-color;
  text-decoration: none;
}

.should-dim{
  width: 350px;
  margin-right: auto;
  margin-left: auto;

  .button-wrapper {
    border-radius: 15px;
    padding: 10px;
    background-color: lightgray;

    .join-links-img {
      display: block;
      height: auto;
      margin: auto;
    }
  }
}

.flex{
  display: flex;
  h3 {
    margin: 0px;
    text-align: left;
  }
  p {
    margin-bottom: 0px;
  }
  .what-to-bring {
    text-align: left;
  }
}