@import '../variables.scss';

.officerGridRow {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
}

.officerGridCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.officerImage {
  border: 2px solid #EAEAEA;
  border-radius: 50%;
  display: inline-block;
  height: 70px;
  margin: 25px 10px 0;
  width: 70px;
}

.officerInfo {
  padding-left: 1em;

  p {
    margin: 0 !important; // this is to override .content-section p
  }

  .officerTitle {
    font-weight: 600;
    margin: 0;
  }
}

#officersContainer {
  box-sizing: border-box;
  margin: auto;
  max-width: 1000px;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  .officer {
    color: $font-primary-color;
    display: inline-block;
    height: 100px;
    text-align: left;
    transition: transform 0.1s;
    width: 300px;

    img {
      border: 2px solid #EAEAEA;
      border-radius: 50%;
      display: inline-block;
      height: 70px;
      margin: 25px 10px 0;
      width: 70px;
    }

    .info {
      display: inline-block;
      vertical-align: top;
      width: 200px;

      h2 {
        display: inline-block;
        font-family: $font-display;
        font-size: 1.3em;
        font-weight: 600;
        line-height: 1.8em;
        margin: 0;
        margin-top: 35px;
        padding: 0;

        span {
          font-weight: 700;
        }
      }

      p {
        color: $font-primary-color;
        display: inline-block;
        font-family: $font-body;
        font-size: 0.7em;
        margin: 0;
        margin-top: -5px;
        vertical-align: top;
      }
    }
  }
}

@media (min-width: $navbar-breakpoint) {
  .gridDesktop3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
