#navbar {
  background: white;
  box-shadow: 0 0 4px #E2E2E2;
  color: $font-primary-color;
  font-family: $font-display;
  height: 72px;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  #nav-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    #nav-title {
      z-index: 12;

      #acm-logo {
        height: 60px;
        margin-top: 05px;
        width: 180px;
      }
    }

    #hamburger {
      align-items: center;
      background-color: transparent;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      display: none; // will become flex at smaller screen size
      flex-direction: column;
      height: 50px;
      justify-content: center;
      margin: 0 20px;
      overflow: hidden;
      position: relative;
      width: 50px;
      z-index: 12;

      .bar {
        background-color: $font-secondary-color;
        border-radius: 04px;
        height: 03px;
        position: relative;
        transition: all 0.5s ease-in-out;
        width: 50%;

        &::before,
        &::after {
          background-color: $font-secondary-color;
          border-radius: 04px;
          content: '';
          height: 03px;
          left: 0;
          position: absolute;
          transition: all 0.5s ease-in-out;
          width: 100%;
        }

        &::before {
          transform: translateY(8px);
        }

        &::after {
          transform: translateY(-8px);
        }
      }

      &.active {
        .bar {
          transform: translateX(-50px);
        }

        .bar::before {
          transform: rotate(-45deg) translate(35px, 35px);
        }

        .bar::after {
          transform: rotate(45deg) translate(35px, -35px);
        }
      }

      &:hover {
        .bar,
        .bar::before,
        .bar::after {
          background-color: $acm-cobalt;
        }
      }
    }

    .nav-items {
      align-items: center;
      display: flex; // will become none at smaller screen size
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        line-height: 40px;
        padding: 0 20px;

        button {
          background-color: transparent;
          border: 0;
          color: inherit;
          font-size: 0.95em;
          font-weight: 600;
          text-transform: lowercase;
          transition: 0.2s;

          &.active {
            color: $acm-cobalt;
          }
          
          &:hover {
            color: $acm-cobalt;
            cursor: pointer;
          }
        }

        // prevents committee text fade on li hover
        &:hover {
          color: $font-primary-color;
        }
      }

      #committee-mobile-nav-item {
        display: none;
        height: max-content;
        text-align: center;
        width: 60%;

        li {
          padding: 0;
        }

        // committee color applied on hover and active
        [href='/committees#ai']:hover, [href='/committees#ai'].active {
          color: #1EBDF4;
        }

        [href='/committees#cyber']:hover, [href='/committees#cyber'].active {
          color: #FFBA44;
        }

        [href='/committees#design']:hover, [href='/committees#design'].active {
          color: #FE823C;
        }

        [href='/committees#hack']:hover, [href='/committees#hack'].active {
          color: #C960FF;
        }

        [href='/committees#icpc']:hover, [href='/committees#icpc'].active {
          color: #FF6B6B;
        }

        [href='/committees#studio']:hover, [href='/committees#studio'].active {
          color: #ED3266;
        }

        [href='/committees#teachLA']:hover, [href='/committees#teachLA'].active {
          color: #A1D900;
        }

        [href='/committees#w']:hover, [href='/committees#w'].active {
          color: #1BC3A9;
        }
      }
    }

    @media (max-width: $navbar-breakpoint) {
      #hamburger { 
        display: flex;
      }

      #menu-modal {
        background: rgba(255, 255, 255, 0.95);
        height: 100vh;
        left: 50vw;
        overflow-y: scroll;
        position: absolute;
        top: 50vh;
        transform: translate(-50%, -150%);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        width: 100vw;
        z-index: 11;

        .nav-items {
          display: none;
          font-size: 1.8em;
          font-weight: 600;
          left: 50vw;
          margin: 10px 0;
          position: absolute;
          top: 50vh;
          transform: translate(-50%, -50%);

          .button {
            padding: 10px 20px;
            white-space: nowrap;
          }

          li {
            margin: 5px 0;
          }

          &.active {
            align-items: center;
            display: flex;
            flex-direction: column;

            #committee-mobile-nav-item {
              display: block;
            }
          }
        }

        &.active {
          transform: translate(-50%, -50%);
          transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        }
      }
    }
  }
}
