$committees: (ai, $ai-arctic), (cyber, $cyber-amber), (design, $design-orange), (hack, $hack-purple), (icpc, $icpc-tangerine), (studio, $studio-raspberry), (teachla, $teachla-green), (w, $w-teal);

#navbar {
  background: white;
  box-shadow: 0 0 4px #E2E2E2;
  color: $font-primary-color;
  font-family: $font-display;
  height: 72px;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  #nav-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    #nav-title {
      z-index: 12;

      #acm-logo {
        height: 60px;
        margin-top: 05px;
        width: 180px;
      }
    }

    #hamburger {
      align-items: center;
      background-color: transparent;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      display: none; // will become flex at smaller screen size
      flex-direction: column;
      height: 50px;
      justify-content: center;
      margin: 0 20px;
      overflow: hidden;
      position: relative;
      width: 50px;
      z-index: 12;

      .bar {
        background-color: $font-secondary-color;
        border-radius: 04px;
        height: 03px;
        margin: 2px 0;
        position: relative;
        transition: all 0.5s ease-in-out;
        width: 50%;
      }

      &.active {
        #bar-one {
          transform: rotate(45deg) translate(5px, 4px);
        }

        #bar-two {
          transform: translateX(-50px);
        }

        #bar-three {
          transform: rotate(-45deg) translate(5px, -5px);
        }
      }

      &:hover {
        .bar {
          background-color: $acm-cobalt;
        }
      }
    }

    .nav-items {
      align-items: center;
      display: flex; // will become none at smaller screen size
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        line-height: 40px;
        padding: 0 20px;

        button {
          background-color: transparent;
          border: 0;
          color: inherit;
          font-family: inherit;
          font-size: 0.95em;
          font-weight: 600;
          text-transform: lowercase;
          transition: 0.2s;

          &.active {
            color: $acm-cobalt;
          }
          
          &:hover {
            color: $acm-cobalt;
            cursor: pointer;
          }
        }

        // prevents committee text fade on li hover
        &:hover {
          color: $font-primary-color;
        }
      }

      #committee-mobile-nav-item {
        display: none;
        height: max-content;
        text-align: center;
        width: 60%;

        li {
          padding: 0;
        }

        // committee color applied on hover and active
        // $committees: (ai, $ai-arctic), (cyber, $cyber-amber), (design, $design-orange), (hack, $hack-purple), (icpc, $icpc-tangerine), (studio, $studio-raspberry), (teachla, $teachla-green), (w, $w-teal);

        @each $committee in $committees {
          [href='/committees##{nth($committee, 1)}']:hover,
          [href='/committees##{nth($committee, 1)}'].active {
            color: #{nth($committee, 2)};
          }
        }
      }
    }

    @media (max-width: $navbar-breakpoint) {
      #hamburger { 
        display: flex;
      }

      #menu-modal {
        background: rgba(255, 255, 255, 0.95);
        height: 100vh;
        left: 50vw;
        overflow-y: scroll;
        position: absolute;
        top: 50vh;
        transform: translate(-50%, -150%);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        width: 100vw;
        z-index: 11;

        .nav-items {
          display: none;
          font-size: 1.8em;
          font-weight: 600;
          left: 50vw;
          margin: 10px 0;
          position: absolute;
          top: 50vh;
          transform: translate(-50%, -50%);

          .button {
            padding: 10px 20px;
            white-space: nowrap;
          }

          li {
            margin: 5px 0;
          }

          &.active {
            align-items: center;
            display: flex;
            flex-direction: column;

            #committee-mobile-nav-item {
              display: block;
            }
          }
        }

        &.active {
          transform: translate(-50%, -50%);
          transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98);
        }
      }
    }
  }
}
