@use '../variables.scss';

.achievements-container {
  margin: auto;
  max-width: none;
  width: 90vw;
  margin-left: calc(50% - 45vw);
  margin-right: calc(50% - 45vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  transition: max-height 0.3s ease;

  &.collapsed {
    max-height: 330px;
  }

  &.expanded {
    max-height: none;
  }

  .achievement {
    display: inline-block;
    margin: 40px;
    max-width: 100%;
    min-height: 250px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    width: 450px;

    &:hover {
      transform: scale(1.02);
    }

    img {
      border: 2px solid #EAEAEA;
      border-radius: 15px;
      min-height: 250px;
      width: 450px;
    }

    h3 {
      color: variables.$font-primary-color;
      font-family: variables.$font-body;
      font-size: 1em;
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  @media (max-width: 600px) {
    .achievement {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
