/* yourStyles.module.css */

.officer-card {
  display: block;
  text-align: center;
  background-color: #ffffff;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}


.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

// .officer-image {
//   width: 100%;
//   height: 100%;
//   border-radius: 50%; /* Make the image completely round */
//   padding: 10px; /* Add padding around the image */
// }

.officer-info {
  padding: 10px;
}

.officer-title {
  margin-bottom: 5px;
}

.officer-text {
  margin: 5px 0;
}

/* yourStyles.module.css */

.officer-email-container {
  display: flex;
  align-items: center;
}

.email-icon {
  margin-right: 5px;
}

/* Add additional styles as needed */


.no-image {
  text-align: center;
  padding: 10px;
  font-style: italic;
  color: #999999;
}
