@import'../variables.scss';

.iconLink {
  color: $acm-cobalt;

  &:hover {
    color: $acm-black;
    cursor: pointer;
  }
}

.socialMediaIconContainer {
  font-size: 2.5rem;

  &.light > .iconLink {
    color: white;

    :hover {
      color: $acm-cobalt;
    }
  }
}
