@use '../../variables.scss';

.sidebar-item {
  background: none;
  display: inline-flex;
  flex-flow: column nowrap;
  left: 0;
  //margin-top: 40px;
  padding: 1rem;
  position: sticky;
  top: 58.5%;
  transform: translateY(-50%);
  transition: opacity 3s ease;
  //z-index: 1000;

  .archive-dropdown {
    display: inline-block;
    padding-left: 20px;
    position: relative;
    

    .dropdown-toggle {
      background: none;
      border-width: 0;
      //height: 7.5vh;
      
      .dropdown-label {
        border-bottom: 1px solid #CCC;
        color: variables.$font-primary-color;
        font-weight: bold;
      }
    }
  }

  .committee {
    align-items: center;
    color: variables.$font-primary-color;
    display: inline-block;
    height: 7.5vh;
    position: relative;
    text-align: left;
    transition: transform 0.1s;
    width: 200px;

    &:hover {
      cursor: pointer;
      transform: scale(1.08);
    }

    img {
      display: inline-block;
      height: 2.5vw;
      margin: 0 10px;
    }
  }
}

.committee-mobile-nav li {
  display: inline-block;
  font-family: variables.$font-header;
  font-size: 16px !important;
  font-weight: bold;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  text-transform: lowercase;

  &:hover {
    color: #999;
  }
}

.committee-sidebar-image {
  height: 35px;
  margin-left: 10px;
  position: relative;
}

.committee-mobile-nav li::after {
  content: '\A';
  white-space: pre;
}

.committee-mobile-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

@media screen and (max-width: variables.$navbar-breakpoint) {
  .sidebar-item {
    display: none;
  }
}

@media screen and (max-height: variables.$sidebar-breakpoint) {
  .sidebar-item {
    display: none;
  }
}
