@import '../../variables.scss';

.filter {
  padding-bottom: 2.5rem;
  position: relative;
  z-index: 99;
}

.inner {
  left: 0;
  position: absolute;
  right: 0;
}

.filteroptions {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem;
  position: relative;
}

.searchbar {
  border-color: lightgray;
  border-radius: 0.5rem;
  border-width: 1px;
  font-size: 1rem;
  height: 1.5rem;
  width: 20rem;
  @media screen and (max-width: $tablet-breakpoint) {
    width: 10rem;
  }
}

.searchbutton {
  background-color: #93A5BF;
  border: 0;
  border-radius: 0.5rem;
  color: white;
  font-family: $font-header;
  font-weight: 600;
  height: 1.5rem;
  margin-left: 1rem;
  width: 6rem;

  &:hover {
    background-color: #E6E6E6;
    color: $acm-black;
    cursor: pointer;
  }
}

.arrow {
  padding-left: 15px;
  vertical-align: middle;
}

.header {
  margin-bottom: 0.25rem;
}

.timecontainer {
  align-items: center;
  display: flex;
  gap: 1rem;
}

input[type=time].timeinput {
  font-family: $font-display;
}
