.content-section {
	max-width: 800px;
	padding: 0px 20px;
	position: relative;
	margin: auto;

	h1 {
		color: $font-primary-color;
		font-family: $font-header;
		padding: 20px;
		font-size: 2em;
		margin: 0;
	}

	h2 {
		color: $font-primary-color;
		font-family: $font-header;
		padding: 20px;
		font-size: 1.5em;
		margin: 0;
	}

	p {
		font-family: $font-body;
		font-size: 0.8em;
		line-height: 150%;
		margin: 0 22px 14px 22px;

		&.subheading {
			font-size: 1em;
		}
	}

	.button-section {
		width: 100%;
		text-align: center;
		margin: 20px 0px;
	}
}

.center {
	text-align: center;
}
