.content-section {
  margin: auto;
  max-width: 800px;
  padding: 0 20px;
  position: relative;

  h1 {
    color: $font-primary-color;
    font-family: $font-header;
    font-size: 2em;
    margin: 0;
    padding: 20px;
  }

  h2 {
    color: $font-primary-color;
    font-family: $font-header;
    font-size: 1.5em;
    margin: 0;
    padding: 20px;
  }

  p {
    font-family: $font-body;
    font-size: 0.8em;
    line-height: 150%;
    margin: 0 22px 14px;

    &.subheading {
      font-size: 1em;
    }
  }

  .button-section {
    margin: 20px 0;
    text-align: center;
    width: 100%;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.inline {
  display: inline-block;
}

.full-width {
  width: 100%;
}

.half-width {
  text-align: center;
  width: 50%;
}

.blue {
  background-color: $acm-cobalt;

  h1,
  h2 {
    color: white;
    font-size: 2em;
    line-height: 135%;
    padding: 20px 0;
  }
}

#sign-up-section {
  display: flex;
  flex-direction: row;

  #sign-up-right {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .half-width {
    width: 100%;
  }

  #sign-up-section {
    flex-direction: column;
    padding-bottom: 40px;
    text-align: center;
  }
}
