.content-section {
	max-width: 800px;
	padding: 0px 20px;
	position: relative;
	margin: auto;

	h1 {
		color: $font-primary-color;
		font-family: $font-header;
		padding: 20px;
		font-size: 2em;
		margin: 0;
	}

	h2 {
		color: $font-primary-color;
		font-family: $font-header;
		padding: 20px;
		font-size: 1.5em;
		margin: 0;
	}

	p {
		font-family: $font-body;
		font-size: 0.8em;
		line-height: 150%;
		margin: 0 22px 14px 22px;

		&.subheading {
			font-size: 1em;
		}
	}

	.button-section {
		width: 100%;
		text-align: center;
		margin: 20px 0px;
	}
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.inline {
	display: inline-block;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
	text-align: center;
}

.blue {
	background-color: $acm-cobalt;

	h1, h2 {
		color: $acm-tint;
		padding: 20px 0px;
		line-height: 135%;
		font-size: 2em;
	}
}

#sign-up-section {
	display: flex;
	flex-direction: row;

	#sign-up-right {
		display: flex;
		align-items: center;
  	justify-content: center;
		text-align: center;
	}
}

@media (max-width: 600px) {
	.half-width {
		width: 100%;
	}

	#sign-up-section {
		text-align: center;
		flex-direction: column;
		padding-bottom: 40px;
	}
}