.content-section {
	max-width: 800px;
	padding: 0px 20px;
	position: relative;
	margin: auto;

	h1 {
		color: $font-primary-color;
		font-family: $font-header;
		padding: 20px;
		font-size: 2em;
		margin: 0;
	}

	h2 {
		color: $font-primary-color;
		font-family: $font-header;
		padding: 20px;
		font-size: 1.5em;
		margin: 0;
	}

	p {
		font-family: $font-body;
		font-size: 0.8em;
		line-height: 150%;
		margin: 0 22px 14px 22px;

		&.subheading {
			font-size: 1em;
		}
	}

	.button-section {
		width: 100%;
		text-align: center;
		margin: 20px 0px;
	}
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.inline {
	display: inline-block;
}

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
}

.blue {
	background-color: $acm-cobalt;

	h1, h2 {
		color: $acm-tint;
		padding: 20px 0px;
		line-height: 135%;
	}
}

#sign-up-section {
	display: flex;
	flex-direction: row;

	#sign-up-right {
		display: flex;
		flex-direction: column;
		justify-content: center;

		form {
			display: flex;
			flex-direction: row;
			justify-content: center;

			input[type=text] {
				border: none;
				outline: none;
				width: 80%;
				max-width: 240px;
				height: 30px;
				padding: 0px 10px;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
				color: $font-primary-color;
				font-family: $font-body;
				font-weight: 300;
				font-size: 1em;
				background: white;
				vertical-align: middle;
				transition: 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98);
			}

			input[type=text]:focus {
				background: #f0f1f5;
				height: 28px;
				border-bottom: 2px solid $acm-black;
				color: $acm-black;
			}

			#submit-form {
				height: 30px;
				width: 30px;
				line-height: 32px;
				text-align: center;
				cursor: pointer;
				color: white;
				background: $acm-black;
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
		}
	}
}

@media (max-width: 600px) {
	.half-width {
		width: 100%;
	}

	#sign-up-section {
		text-align: center;
		flex-direction: column;
		padding-bottom: 40px;
	}
}