#navbar {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	background: white;
	box-shadow: 0px 0px 3px #EAEAEA;
	font-family: $font-display;
	font-color: $font-primary-color;

	#navbar-inner {
		width: 100%;
		margin: auto;
		max-width: 1000px;
	}

	.nav-section.left {
		text-align: left;
		display: inline-block;
	}

	.nav-section.right {
		text-align: right;
		display: inline-block;
		float: right;
	}

	#nav-title {
		margin-left: 20px;
	}

	#acm-logo {
		background-size: cover;
		vertical-align: top;
		height: 50px;
		width: 50px;
		margin-top: 5px;
	}

	#acm-title {
		display: inline-block;
		vertical-align: top;
		line-height: 50px;
		margin: 5px 10px;
		font-size: 1.2em;
	}

	ul.nav-items {
		list-style: none;
		display: inline-block;
	}

	ul.nav-items li {
		display: inline-block;
		text-transform: lowercase;
		font-size: 0.95em;
		padding: 0px 20px;
		font-weight: 600;
	}

	ul.nav-items li:hover {
		color: #999999;
		cursor: pointer;
	}

	a, a:visited {
		color: inherit;
	}

	#mobile-nav {
		display: none;
	}

	.hamburger-icon {
		height: 50px;
		width: 50px;
		margin: 5px 20px;
		display: flex;
		justify-content: center;
		flex-direction: column;

		&:hover {
			cursor: pointer;

			.bar {
				margin: 3px 0px;
				background-color: $font-primary-color;
			}
		}

		.bar {
			align-self: center;
			width: 50%;
			height: 3px;
			border-radius: 4px;
			margin: 2px 0px;
			transition: 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98);
			background-color: $font-secondary-color;
		}
	}

	#menu-toggle {
		display: none;
	}

	#hamburger-menu {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		z-index: -20;
		transform: translate3d(0, -100%, 0);
		background: rgba(255, 255, 255, 0.95);
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98);

		ul.nav-items {
			list-style: none;
			display: block;
			margin: auto;
			text-align: center;
			float: none;
		}

		ul.nav-items li {
			display: block;
			margin: 40px auto;
			text-transform: lowercase;
			transform: translate3d(0, -50%, 0);
			opacity: 0;
			font-size: 1.8em;
			font-weight: 600;
			transition: all 1.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
		}

		ul.nav-items li:hover {
			color: #999999;
			cursor: pointer;
		}
	}

	#menu-toggle:checked + #hamburger-menu {
		transform: translate3d(0, 0, 0);

		ul.nav-items li {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}

	a {
		text-decoration: none;
	}

	a.active li,
	a.active ul.nav-items li:hover {
		color: $acm-cobalt !important;
	}

	@media (max-width: 700px) {
		#desktop-nav { display: none; }
		#mobile-nav { display: inline-block; }
	}
}