.sm {
    height: 30px;
    width: 30px;
    border-radius: 2px;
    margin: 0px 3px;
     display: inline-block;
    //color: white;

    &#facebook { background-image: url(/images/social_media/facebookDark.svg); }
    &#twitter { background-image: url(/images/social_media/twitterDark.svg); }
    &#github { background-image: url(/images/social_media/githubDark.svg); }
    &#medium { background-image: url(/images/social_media/mediumDark.svg); }
    &#instagram { background-image: url(/images/social_media/instagramDark.svg); }
    &#discord { background-image: url(/images/social_media/discordDark.svg); }
    &#youtube { background-image: url(/images/social_media/youtubeDark.svg); }


    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }
}



.sm-icon.light {
    &#facebook { background-image: url(/images/social_media/facebook.svg); }
    &#twitter { background-image: url(/images/social_media/twitter.svg); }
    &#github { background-image: url(/images/social_media/github.svg); }
    &#medium { background-image: url(/images/social_media/medium.svg); }
    &#instagram { background-image: url(/images/social_media/instagram.svg); }
    &#discord { background-image: url(/images/social_media/discord.svg); }
    &#youtube { background-image: url(/images/social_media/youtube.svg); }


    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }

}
