.icon-link {
  color: $acm-cobalt;

  &:hover {
    color: $acm-black;
    cursor: pointer;
  }
}

.social-media-icon-container {
  font-size: 2.5rem;

  &.light > .icon-link {
    color: white;

    :hover {
      color: $acm-cobalt;
    }
  }
}
