.icon-link{
    color: $acm-cobalt;

    &:hover {
        cursor: pointer;
        color: $acm-black;
    }
}

.social-media-icon-container {
    font-size: 2.5rem;
    &.light > .icon-link {
        color: white;
        :hover {
            color: $acm-cobalt;
        }
    }
}
