.intro-row {
    margin-bottom: 0;
}
.right-col {
    display: none;
}

.learn-more {
    margin: 30px 0 0 0;
    color: $font-secondary-color;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .8em;
}

.learn-more .icon {
    height: 40px;
    width: 40px;
    border-radius: 11.2px;
    margin: 0 10px 0;
    display: inline-block;
    -webkit-mask-size: cover;
    mask-size: cover;  

    &#website {
        background-color: transparent;
        background-size: cover;
        height: 50px;
        width: 50px;
        margin: 0 10px -5px;
    }
    &#facebook {
        -webkit-mask: url(/images/social_media/facebookDark.svg);
        mask: url(/images/social_media/facebookDark.svg);
    }
    &#twitter {
         -webkit-mask: url(/images/social_media/twitterDark.svg);
         mask: url(/images/social_media/twitterDark.svg); 
        }
    &#github {
         -webkit-mask: url(/images/social_media/githubDark.svg);
         mask: url(/images/social_media/githubDark.svg); 
        }
    &#medium {
         -webkit-mask: url(/images/social_media/mediumDark.svg);
         mask: url(/images/social_media/mediumDark.svg); 
        }
    &#instagram {
         -webkit-mask: url(/images/social_media/instagramDark.svg);
         mask: url(/images/social_media/instagramDark.svg); 
        }
    &#discord {
         -webkit-mask: url(/images/social_media/discordDark.svg);
         mask: url(/images/social_media/discordDark.svg); 
        }
    &#youtube {
         -webkit-mask: url(/images/social_media/youtubeDark.svg);
         mask: url(/images/social_media/youtubeDark.svg); 
        }

    &.hack    { 
        background-color: $hack-purple;
        background-image: url(/images/diamonds/hack_diamond.svg);
        }        
	&.ai      { 
        background-color: $ai-arctic;
        background-image: url(/images/diamonds/ai_diamond.svg);
        }
	&.w       { 
        background-color: $w-teal;
        background-image: url(/images/diamonds/w_diamond.svg);
        }
	&.cyber   { 
        background-color: $cyber-amber;
        background-image: url(/images/diamonds/cyber_diamond.svg);
        }
	&.studio  { 
        background-color: $studio-raspberry;
        background-image: url(/images/diamonds/studio_diamond.svg);
        }
	&.icpc    { 
        background-color: $icpc-tangerine;
        background-image: url(/images/diamonds/icpc_diamond.svg);
        }
    &.design  { 
        background-color: $design-orange; 
        background-image: url(/images/diamonds/design_diamond.svg);
        }
    &.teachla { 
        background-color: $teachla-green;         
        background-image: url(/images/diamonds/teachLA_diamond.svg);
        }
    
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

@media (min-width: 688px) {

    .left-col {
        float: left;
        text-align: left;
        width: 40%;
    }

    .right-col {
        float: right;
        width: 55%;
        display: block;
        margin-top: 30px;

        img {
            box-shadow: 0 0 1pt 0;
        }
    }

    .show-mobile {
        display: none;
    }
        
    .learn-more {
        font-size: 1em;

        h3 {
            margin: 0 0 20px 0;
        }
        .icon {
            margin: 0 10px 0 0;
        }
    }

    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }

    .intro-row:after {
        content: "";
        display: table;
        clear: both;
    }
}