.intro-row {
  margin-bottom: 0;
}

.right-col {
  display: none;
}

.learn-more {
  color: $font-secondary-color;
  font-weight: 700;
  letter-spacing: 0.8em;
  margin: 30px 0 0;
  text-transform: uppercase;
}

.learn-more .icon-link {
  font-size: 2.5rem;

  :hover {
    color: black;
  }

  &.hack {
    color: $hack-purple;
  }

  &.ai {
    color: $ai-arctic;
  }

  &.w {
    color: $w-teal;
  }

  &.cyber {
    color: $cyber-amber;
  }

  &.studio {
    color: $studio-raspberry;
  }

  &.icpc {
    color: $icpc-tangerine;
  }

  &.design {
    color: $design-orange;
  }

  &.teachla {
    color: $teachla-green;
  }
}

@media (min-width: 688px) {
  .left-col {
    float: left;
    text-align: left;
    width: 40%;
  }

  .right-col {
    display: block;
    float: right;
    margin-top: 30px;
    width: 55%;

    img {
      box-shadow: 0 0 1pt 0;
    }
  }

  .show-mobile {
    display: none;
  }

  .learn-more {
    font-size: 0.9em;

    h3 {
      margin: 0 0 20px;
    }
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
  }

  .intro-row::after {
    clear: both;
    content: '';
    display: table;
  }
}
