.banner-section {
	max-width: 800px;
	padding: 0px 20px;
	position: relative;
	margin: auto;

	h2 {
		color: white;
		font-family: $font-header;
		padding: 20px;
		font-size: 1.6em;
		margin: 0;
	}
}

#banner-right {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#banner-left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}