.tgbanner {
    display: inline-block;
    background-color: $acm-cobalt;
    width: 100%;
    height: 80px;

    h1, h2 {
        color: white;
        padding: 8px 0px;
        line-height: 135%;
        font-size: 1.4em;
    }
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-left: -100px;
    margin-top: -2px;
}

.right-section {
    float: right;
    width: auto;
    align-items: center;
    margin-top: -60px;
    margin-right: 560px;
}

h2 {
    font-size: 2em;

    .white {
        color: white;
    }
}

p {
    font-size: 1.2em;
}