.banner-section {
  margin: auto;
  max-width: 800px;
  padding: 0 20px;
  position: relative;

  h2 {
    color: white;
    font-family: $font-header;
    font-size: 1.6em;
    margin: 0;
    padding: 20px;
  }
}

#banner-right {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

#banner-left {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
