/*************************************
 * Base styles and variables         *
 ************************************/

$acm-cobalt: #3B59ED;
$acm-black: #262938;
$acm-tint: #ACBAFA;

$hack-purple: #C960FF;
$hack-black: #262938;
$hack-tint: #DB99FD;

$w-teal: #1BC3A9;
$w-black: #233431;
$w-tint: #80D3C6;

$icpc-tangerine: #FF6B6B;
$icpc-black: #3A2B2B;
$icpc-tint: #EEAEAE;

$ai-arctic: #1EBDF4;
$ai-black: #233339;
$ai-tint: #94D8F0;

$studio-raspberry: #ED3266;
$studio-black: #39272B;
$studio-tint: #F09FB0;

$cyber-amber: #FFBA44;
$cyber-black: #3A3327;
$cyber-tint: #EDCD98;

$design-orange: #FE823C;
$design-black: #372B25;
$design-tint: #FFBC96;

$teachla-green: #A1D900;
$teachla-black: #2C3022;
$teachla-tint: #C6DC85;

$font-display: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-header: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;

$font-primary-color: #333333;
$font-secondary-color: #777777;

body {
	margin: 0;
	padding: 0;
	font-family: $font-body;
	color: $font-primary-color;
}

.app-container{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.main-container {
	margin-top: 70px; //To account for height of Navbar, which uses fixed positioning
	flex: 1 0 auto;
}

/*************************************
 * Import CSS styles for components  *
 ************************************/

@import 'components/Navbar/style';
@import 'components/Button/style';
@import 'components/Banner/style';
@import 'components/Home/style';
@import 'components/Home/Carousel/style';
@import 'components/Home/Committees/style';
@import 'components/Home/News/style';
@import 'components/About/style';
@import 'components/About/Officers/style';
@import 'components/Sponsors/style';
@import 'components/Footer/style';
@import 'components/Events/style';
@import 'components/Events/Calendar/style';
@import 'components/Events/Fall_GM/style';
@import 'components/SocialMedia/style.scss';
