/* Global Variables */
/* Refer to: https://design.uclaacm.com/ */

$acm-cobalt: #1E6CFF;
$acm-black: #181818;
$acm-tint: #3DA2FF;

$hack-purple: #C960FF;
$hack-black: #262938;
$hack-tint: #C137D8;

$cloud-purple: #9F97FF;
$cloud-black: #262938;
$cloud-tint: #746FB1;

$w-teal: #1BC3A9;
$w-black: #233431;
$w-tint: #56E4B1;

$icpc-tangerine: #FF8383;
$icpc-black: #3A2B2B;
$icpc-tint: #F38F70;

$ai-arctic: #28B2FF;
$ai-black: #233339;
$ai-tint: #35DDF3;

$studio-raspberry: #FB4469;
$studio-black: #39272B;
$studio-tint: #FF8C93;

$cyber-amber: #FFCB44;
$cyber-black: #3A3327;
$cyber-tint: #FFE81A;

$design-orange: #FE8D3C;
$design-black: #372B25;
$design-tint: #FFAC30;

$teachla-green: #5EDA12;
$teachla-black: #2C3022;
$teachla-tint: #B0EE00;

$font-display: 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-header: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;

$font-primary-color: #333;
$font-secondary-color: #595959;

$navbar-breakpoint: 1160px;
$sidebar-breakpoint: 420px;
$tablet-breakpoint: 768px;

@mixin shadow-boxes {
  box-shadow:
    0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}
