.page-content {
	width: 100%;
	max-width: 1000px;
	padding: 0px 30px 0px;
	box-sizing: border-box;
	text-align: center;
	margin: auto;

	h1 {
		color: $font-primary-color;
		font-family: $font-header;
		font-size: 2em;
		margin: 10px;
	}

	h2 {
		color: $font-primary-color;
		font-family: $font-header;
		margin: 30px 0 20px 0;
		font-size: 1.2em;
	}

	h3 {
		margin: 20px;
		font-size: 1.2em;
	}

	p {
		font-family: $font-body;
		font-size: 1em;
		line-height: 150%;
		&.subheading {
			font-size: 1em;
		}
		strong {
			font-weight: bold;
		}
	}

	img {
		border-radius: 10px;
		box-shadow: 0 0 0 1pt;
		width: 100%;
	}

	@media (min-width: 688px) {
		padding: 0px 60px 0px;
	}
}