.page-content {
	width: 100%;
	max-width: 1000px;
	padding: 0px 20px 0px 20px;
	position: relative;
	margin: auto;
	box-sizing: border-box;

	h1 {
		color: $font-primary-color;
		font-family: $font-header;
		padding: 20px;
		font-size: 2em;
		margin: 0;
		text-align: center;
	}

	h2 {
		color: $font-primary-color;
		font-family: $font-header;
		padding: 20px;
		font-size: 1.2em;
		margin: 0;
	}

	h3 {
		margin: 0px 0px 20px 0px;
	}

	p {
		font-family: $font-body;
		font-size: 1em;
		line-height: 150%;
		margin: 0px 10px 10px;

		&.subheading {
			font-size: 1em;
		}
	}

	img {
		border-radius: 20px;
		width: 100%;
	}

}