.tags-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.event-tag {
  background-color: #dddddd;
  border-radius: 7px;
  margin: 0px 2.5px 0px 2.5px;
  padding: 3px;
}

.event-tag:first-of-type {
  margin-left: 0px;
}

.event-tag:last-of-type {
  margin-right: 0px;
}