.ce-tags-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.ce-event-tag {
  background-color: #dddddd;
  border-radius: 7px;
  margin: 5px;
  margin-top: 0px;
  margin-right: 0px;
  padding: 3px;
  font-size: 80%;
}

.ce-event-tag:hover {
  opacity: 0.7;
  cursor: pointer;
}

/*.ce-event-tag:first-of-type {
  margin-left: 0px;
}

.ce-event-tag:last-of-type {
  margin-right: 0px;
}*/