.ce-container {
  width: 18rem;
  height: 18rem;
  margin: 10px;
  border: 2px solid black; // ugly?
  border-radius: 10px;
}

// still not ideal lol
.ce-container h4 {
  margin: 0px;
  padding: 0px;
}

.ce-title-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

/*.ce-title-first {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}*/

.ce-title {
  width: 100%;
  font-family: 'Poppins';
}

.ce-title:hover {
  opacity: 0.7;
  cursor: pointer;
}

.ce-session {
  border-radius: 7px;
  margin-right: 5px;
  padding: 3px;
  background-color: #dddddd;
  font-size: 75%;
}

.ce-committee-container {
  display: flex;
  flex-flow: row wrap;
}

.ce-committee-name {
  border-radius: 7px;
  margin-right: 10px;
  padding: 3px;
  font-family: 'Poppins';
  color: white;
}

.ce-image {
  width: 100%;
  height: 9rem;
  object-fit: cover;
}

.ce-time {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ce-below-image {
  height: 9rem;
  overflow: hidden;
  border-top: 1px solid black;
}
.ce-date, .ce-quarter/*, .ce-event-type, .ce-teachers*/ {
  background-color: #dddddd;
  border-radius: 7px;
  padding: 3px;
  margin-bottom: 10px;
}

.ce-more-info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ce-bottom-links-container span {
  margin-bottom: 0px;
}

.ce-links-first-title {
  margin-top: -5px;
}

.ce-modal {
  width: 50%;
  height: 36rem;
  position: fixed;
  border: 2px solid black;
  border-radius: 20px;
  z-index: 1;
  overflow: auto;
  left: 25%;
  top: 50%;
  margin-top: -18rem;
  background-color: white;
}