.ce-container {
  width: 18rem;
  height: 18rem;
  margin: 10px;
  border: 2px solid black; // ugly?
  border-radius: 10px;
}

.ce-title-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

/*.ce-title-first {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}*/

.ce-title {
  width: 100%;
  font-family: 'Poppins';
  margin: 5px;
}

.ce-title:hover {
  opacity: 0.7;
  cursor: pointer;
}

.ce-session {
  border-radius: 7px;
  padding: 3px;
  background-color: #dddddd;
  font-size: 75%;
}

.ce-session-container {
  margin: 5px;
  margin-top: 0px;
  margin-left: 0px;
}

.ce-committee-container {
  display: flex;
  flex-flow: row wrap;
}

.ce-committee {
  margin: 5px;
  margin-top: 0px;
  margin-right: 0px;
}

.ce-committee-name {
  border-radius: 7px;
  padding: 3px;
  font-family: 'Poppins';
  color: white;
  font-size: 75%;
}

.ce-image {
  width: 100%;
  height: 8rem;
  object-fit: cover;
}

.ce-image:hover {
  opacity: 0.7;
  cursor: pointer;
}

.ce-time {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ce-below-image {
  border-top: 1px solid black;
}

.ce-date-quarter-tag-container {
  margin: 5px;
  margin-top: 0px;
}

.ce-date-quarter-tag-container-modal {
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.ce-date, .ce-quarter, .ce-date-modal, .ce-quarter-modal/*, .ce-event-type, .ce-teachers*/ {
  background-color: #dddddd;
  border-radius: 7px;
  padding: 3px;
}

.ce-date, .ce-quarter {
  font-size: 75%;
}

.ce-committee:hover, .ce-session:hover, .ce-quarter:hover {
  opacity: 0.7;
  cursor: pointer;
}

.ce-more-info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ce-modal {
  width: 50%;
  height: 24rem;
  position: fixed;
  border: 2px solid black;
  border-radius: 20px;
  z-index: 9999;
  overflow: auto;
  left: 25%;
  top: 50%;
  margin-top: -12rem;
  background-color: white;
  padding: 10px;
}

.ce-committee-modal {
  margin: 0px;
  margin-right: 5px;
}

.ce-committee-name-modal {
  border-radius: 7px;
  padding: 3px;
  font-family: 'Poppins';
  color: white;
}

.ce-title-modal {
  margin: 0px;
}

.ce-desc-modal {
  margin: 0px;
}

.ce-session-container-modal, .ce-track-container-modal {
  margin: 5px;
  margin-top: 0px;
  margin-right: 0px;
}

.ce-session-modal, .ce-track-modal {
  border-radius: 7px;
  padding: 3px;
  background-color: #dddddd;
}

.ce-track-session-modal-container {
  display: flex;
  flex-flow: row wrap;
}

.ce-header-line-modal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ce-time-modal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.ce-links-modal h4 {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}