# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build and Test

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install
    - run: npm run build
      env:
        EVENTS_SPREADSHEET_ID: 1HSPeMIN_YsEktc45dperDcAsS2MeYPyfhgFyNMlUYf0
        SERVICE_ACCOUNT: {"type": "service_account","project_id": "neat-coast-357802","private_key_id": "7a931993b0324e821f6c7c61f7d8cbab88b605fa","private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC0HCmOkWErXsCq\n9Nbd62/JKFhuAbij9YYAGWYGJnA7Njzf9/f4Q/iDRHBEphk2Nyh5/NAw1dgdn5uV\n6iDK2sLRB0+hoABaqRyK2vI2QlDhtpNDTGl9ffCzHvASTu+oBSqGdOgtwAsh2/KO\nkhi0+sVGXhBswHByH2T5Xor/Sw62RxIMCP6OTYNglYaEQ/W5d5wB/Ejjl2SvMMdb\nfwSy7qDmuiPuGaKQ/YFuCwZQJH5CKPv9c9vkezEeq6jgg15gGiu2ETL7JR9OWHzF\nfUkIQkmdHH+90UNeeacvHYabISmJcexWvIifdQfR0+SOftMiu3uG/bG/97L1iZSS\nTY8vXnhBAgMBAAECggEABRohIT1EC+b4vT8HUS0IsyGV87PPx7E+VQVjKvxuxHai\nXdPX7ev6/7jyFze/UhZY6q+7NA7yutAZJ7OEr0poJ2S2IEV4jRjqSpKuNtRFF0fF\nPyxMdrYZGfHf6hzbVB6lWD66jwU4K4LgCaLg2UubSAWFIJeI9+qkwR2pAVdeeNJZ\nYYTG9uNXbTtm/69T1CdzU7XaMOo+iTcNqo5OzONZLmS8OT+Ny8jlKsSLS+zJPvxa\njLaBVE5hGX8ftSzs07uRhAcARVrTbOnUg7x9vtChFlHD5SpyqODm3uvfw4/zjYpF\nqPdAqaHJbj9v1NNAmuzeaRgOMK9oIU5sbQ88tI/C4QKBgQDmy6k834nBTd96li2w\n4ZlDQhHBpUmvhSx/ilFFIBMqGoCpncUB+BmknCjI5E8Z8e1YqrSVbfoX0Je8NDBw\n3URb5sjN404odWaYd2PU7/JWoix4Ar6864dxCKedeRDD+Q62Y79dr5Jgm3GndnAW\n1bzpZj0rYwAl7sbs7Xp4qyJtqQKBgQDHx3z+DrJXDqq1HSH87yJUuoN3WUVNit/2\nPOCd1ONQf7R2hiPOicOrxq9qyuZl7j7fpIK759MFU9ar5APGvbr1ByCj7HVvQ8cE\nSYxSVnNmv80usf41vG9igete5zj9l9uiKb6vH896L3A5Va9A7iCD7hSrfgxUUpg4\nb0ya2n3k2QKBgQCG1dU5yx8f3+8AH1zySdrQgHj/OSGjeZpVqOlyCRspLfKdJZ9D\nVz8j/FeXhkrwTXbspk56PpYt85+yRItIZPza9Cm8n1+6I1ydFqMsdEKQeo6gTnpA\nxRmL4BKM3X3+ADOoOv5CLaDG8AmmXHt/279SXHjAMEaV4ro1EUjL1q92gQKBgBSK\nLA2q0ScmOOLaFe59X5g6fN2+beOlDZWxeJ6BjsVt+83byL6pZ1a33L0sEzgToJ85\nuL88/HMlxYJytPiv9RLQIsj3vLMt0r5cGXM1tDOyMJRGdI5tyz3jgaGGQFPCUzB+\n/j3fFWPIkM80Qgp48RrfVXy0PuxEeaYDu2qIYD0xAoGBAJE05e/ASF8kU0+k9cla\nQQaM9ykkXRoRmFCZECGANWlTLBkuXQEjqmz3XDQSYBv/rcytvHhfv92O19W0FpJI\na1lVjnsf0JEHaNjGN17MTsQ7jsDG5nJhLsLkRs8OJXZ8RueHcVsKigJWstIZydu2\nsBEtmLvyl1VJFOtO3MZiYRTT\n-----END PRIVATE KEY-----\n","client_email": "acm-sheet-service@neat-coast-357802.iam.gserviceaccount.com","client_id": "117825545105005942527","auth_uri": "https://accounts.google.com/o/oauth2/auth","token_uri": "https://oauth2.googleapis.com/token","auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/acm-sheet-service%40neat-coast-357802.iam.gserviceaccount.com"}
    - run: npm test
      env:
        CI: true
